/* nav related styles */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

body{font-family: 'Open Sans', sans-serif;}

.navttl{
    font-family: Arial, Helvetica, sans-serif;
}
.text-primary1{color: rgb(0, 84, 218);}
.text-primary2{color: rgb(0, 84, 218);}

nav ul{display: flex; align-items: center;}

nav li {list-style: none; margin-right: 25px;}

nav a {text-decoration:none; color:black}

.btn-main{text-align: center; border-radius: 10px; background-color: rgb(0, 84, 218); color: aliceblue; height: 45px; width: 105px; border: 0; font-size: medium;}

/* for header */

.banner{
    padding: 25px 30px 30px 120px;
}


